{% extends 'base.html' %}
{% load humanize %}

{% block content %}   

   <h2>상품 정보 조회</h2>
   <table id="prd_list">
    <tr>
        <th>상품번호</th>
        <th>상품명</th>
        <th>가격</th>
        <th>제조회사</th>
        <th>색상</th>
        <th>카테고리번호</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    {% for prd in products %}
    <tr>
        <td><a href="{% url 'product_detail' prd.prd_no %}">{{ prd.prd_no }}</a></td>
        <td>{{ prd.prd_name }}</td>
        <td>{{ prd.prd_price|intcomma }}</td>
        <td>{{ prd.prd_maker}}</td>
        <td>{{ prd.prd_color }}</td>
        <td>{{ prd.ctg_no }}</td>
        <td><a href="{% url 'product_update' prd.prd_no %}"><button class='btn'>수정</button></a></td>
        <td><a href="{% url 'product_delete' prd.prd_no %}"
            onclick='return confirm("삭제하시겠습니까?")'>
        <button class='btn'>삭제</button></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}