#title {
    font-size: 25px;
    height: 100px;
    line-height: 100px;
}

/* 전체 박스 배치 */
.cafe_l, .cafe_r {
    position: relative;
    margin: 25px auto;
    bottom: -40px;
    width: 1224px;
    height: 600px;
    opacity: 0;
}
.cafe_l > div {
    float: left;
}
.cafe_r > div {
    float: right;
}

/* 메인 이미지 설정 */
.cafe_img {
    position: relative;
    margin: 10px;
    margin-top: 12px;
    width: 768px;
    height: 576px;
    border: solid 1px green;
    border-radius: 20px;
    overflow: hidden;
}
.cafe_img img:first-child {
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cafe_img img:nth-child(2) {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
}

/* 정보란 설정 */
div.cafe_info {
    text-align: left;
    padding: 20px;
    margin: 20px;
    width: 352px;
    height: 520px;
    background: #ccc;
    border-radius: 20px;
}
table.cafe_info {
    width: 352px;
    height: 520px; 
}

/* thead */
thead.cafe_info tr:first-child { /* 상호명 */
    font-size: 25px;
    height: 40px;
}
thead.cafe_info tr:nth-child(2) { /* 간단요약 */
    height: 90px;
}
thead.cafe_info tr:nth-child(3) td { /* 상세설명 */
    border-top: solid 1px #444;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    padding-top: 18px;
    padding-left: 12px;
}

/* tbody */
tbody.cafe_info tr td:first-child { /* 주소 등등 */
    color: #444;
    width: 70px;
}

/* tfoot */
tfoot.cafe_info td {
    border-top: solid 1px #444;
    position: relative;
    text-align: center;
    font-size: 12px;
    width: 176px;
    height: 90px;
}
tfoot.cafe_info td:first-child {
    border-right: solid 1px #444;
}
tfoot.cafe_info a {
    top: 20px;
    left: 68px;
    position: absolute;
    color: black;
    text-decoration: none;
}
tfoot.cafe_info img {
    width: 40px;
    height: 40px;
}