{% extends 'base.html' %}
{% block content %}   

    <h3>도서 상세 조회</h3>
    <table id="bk_detail">
        <tr><th>도서번호</th><td>{{ book.bookno }}</td></tr>
        <tr><th>도서명</th><td>{{ book.bookname }}</td></tr>
        <tr><th>도서작가</th><td>{{ book.bookauthor }}</td></tr>
        <tr><th>도서가격</th><td>{{ book.bookprice }}</td></tr>
        <tr><th>도서날짜</th><td>{{ book.bookdate }}</td></tr>
        <tr><th>도서재고량</th><td>{{ book.bookstock }}</td></tr>
        <tr><th>출판사번호</th><td>{{ book.pubno }}</td></tr>
    </table>

{% endblock content %} 